.login-box-body {
	background: transparent;
	padding: 0px;
}
.login_images {
    text-align: center;
    margin-bottom: 10px;
}
.login_images img {
    max-width: 100%;
}
.login_to_admin {
    background: #FCDB38;
    font-size: 11px
    border: none!important;
}
.login-box, .register-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin-top: 
}
.login-box-body.flip-container {
    width: 100%;
}
.login_to_admin:visited {
    border: none!important;
}
.login-box, .register-box {
        margin: auto;
}
.login-box-msg {
    text-align: left;
    font-size: 11px;
    padding: 0px;
    padding-bottom: 35px;
}
.has-feedback .form-control {
    font-size: 11px;
}
.icheckbox_square-blue {
    margin-right: 10px;
}
.checkbox.icheck {
    margin-top: 0px;
    font-size: 11px;
}
.login-box-body.flip-container{
	height: 250px;
    /*margin-top: 115px;*/
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-box-body.flip-container .flipper{
	    position: relative;
    transform-style: preserve-3d;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-box-body.flip-container.flip .flipper{
	    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.login-box-body.flip-container .flipper .login-panel,
.login-box-body.flip-container .flipper .forgot-panel{
	    width: 100%;
    padding: 20px;
    position: absolute;
    transition: 0.6s;
    transform-style: preserve-3d;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    background: #FFF;
}

.login-box-body.flip-container .flipper .login-panel{
	    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2;
}

.login-box-body.flip-container .flipper .forgot-panel{
	display: none;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.login-box-body.flip-container.flip .flipper .forgot-panel{
	    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
}